<section class="upgrades-wrapper flex-column">
  <app-resources />

  @if (allInfo$ | async; as info) {
    <div class="filters flex-column">
      <div class="filters-line flex-row">
        <button
          class="filter-button f-normal"
          [class.selected]="typeFilterValue() === null"
          (click)="setTypeFilter(null)"
        >
          All
        </button>

        <button
          class="filter-button f-normal"
          [class.selected]="typeFilterValue() === EUpgradeType.MONEY"
          [style.border-color]="RESOURCE_DATA[EResources.MONEY].iconColor"
          (click)="setTypeFilter(EUpgradeType.MONEY)"
        >
          Money
        </button>

        @if (info.unlocks[EUnlocks.CRYSTALS]) {
          <button
            class="filter-button f-normal"
            [class.selected]="typeFilterValue() === EUpgradeType.CRYSTAL"
            [style.border-color]="RESOURCE_DATA[EResources.CRYSTAL].iconColor"
            (click)="setTypeFilter(EUpgradeType.CRYSTAL)"
          >
            Crystals
          </button>
        }

        @if (info.unlocks[EUnlocks.PRESTIGE]) {
          <button
            class="filter-button f-normal"
            [class.selected]="typeFilterValue() === EUpgradeType.PRESTIGE"
            [style.border-color]="
              RESOURCE_DATA[EResources.PRESTIGE_POINT].iconColor
            "
            (click)="setTypeFilter(EUpgradeType.PRESTIGE)"
          >
            Prestige
          </button>
        }

        @if (info.unlocks[EUnlocks.RUBY]) {
          <button
            class="filter-button f-normal"
            [class.selected]="typeFilterValue() === EUpgradeType.RUBY"
            [style.border-color]="RESOURCE_DATA[EResources.RUBY].iconColor"
            (click)="setTypeFilter(EUpgradeType.RUBY)"
          >
            Ruby
          </button>
        }
      </div>
      <div class="filters-line flex-row">
        <button
          class="filter-button f-normal"
          [class.selected]="tierFilterValue() === null"
          (click)="setTierFilter(null)"
        >
          All
        </button>

        <button
          class="filter-button f-normal"
          [class.selected]="tierFilterValue() === EUpgradeTier.COMMON"
          [style.border-color]="TIER_COLORS[EUpgradeTier.COMMON]"
          (click)="setTierFilter(EUpgradeTier.COMMON)"
        >
          Common
        </button>

        <button
          class="filter-button f-normal"
          [class.selected]="tierFilterValue() === EUpgradeTier.UNCOMMON"
          [style.border-color]="TIER_COLORS[EUpgradeTier.UNCOMMON]"
          (click)="setTierFilter(EUpgradeTier.UNCOMMON)"
        >
          Uncommon
        </button>

        <button
          class="filter-button f-normal"
          [class.selected]="tierFilterValue() === EUpgradeTier.UNIQUE"
          [style.border-color]="TIER_COLORS[EUpgradeTier.UNIQUE]"
          (click)="setTierFilter(EUpgradeTier.UNIQUE)"
        >
          Unique
        </button>
        <button
          class="filter-button f-normal"
          [class.selected]="tierFilterValue() === EUpgradeTier.RARE"
          [style.border-color]="TIER_COLORS[EUpgradeTier.RARE]"
          (click)="setTierFilter(EUpgradeTier.RARE)"
        >
          Rare
        </button>

        <button
          class="filter-button f-normal"
          [class.selected]="tierFilterValue() === EUpgradeTier.EPIC"
          [style.border-color]="TIER_COLORS[EUpgradeTier.EPIC]"
          (click)="setTierFilter(EUpgradeTier.EPIC)"
        >
          Epic
        </button>

        <button
          class="filter-button f-normal"
          [class.selected]="tierFilterValue() === EUpgradeTier.LEGENDARY"
          [style.border-color]="TIER_COLORS[EUpgradeTier.LEGENDARY]"
          (click)="setTierFilter(EUpgradeTier.LEGENDARY)"
        >
          Legendary
        </button>

        <button
          class="filter-button f-normal"
          [class.selected]="tierFilterValue() === EUpgradeTier.MYTHIC"
          [style.border-color]="TIER_COLORS[EUpgradeTier.MYTHIC]"
          (click)="setTierFilter(EUpgradeTier.MYTHIC)"
        >
          Mythic
        </button>
      </div>
    </div>

    <div class="upgrades flex-row">
      @if (upgrades$ | async; as upgrades) {
        @for (upgrade of upgrades; track upgrade.key) {
          @if (
            upgrade.isUnlocked &&
            ((isOneTimeUpgrade(upgrade) && !upgrade.bought) ||
              (isCountableUpgrade(upgrade) &&
                upgrade.count < upgrade.maxCount) ||
              isEndlessUpgrade(upgrade))
          ) {
            <app-upgrade
              class="upgrade"
              [upgrade]="upgrade"
              [tooltipText]="upgrade.tooltip"
              (buy)="buyUpgrade(upgrade.key)"
            ></app-upgrade>
          }
        }
      }
    </div>
  }
</section>
