@if (parameters$ | async; as parameters) {
  @if (upgrades$ | async; as upgrades) {
    @if (parametersKeys$ | async; as keys) {
      <div class="wrapper">
        <div class="parameters flex-column">
          @for (key of keys; track key) {
            @if (parameters[key].value; as value) {
              @if (
                parameters[key].isVisible &&
                !(
                  (isBigNumber(value) &&
                    value.isEqual(PARAMETERS_START_CONFIG[key].value)) ||
                  value === PARAMETERS_START_CONFIG[key].value
                )
              ) {
                <p class="parameter f-small">
                  {{ parameters[key].name }}:
                  @if (
                    isNumber(value) && PARAMETERS_START_CONFIG[key].isPercent
                  ) {
                    {{ value / 100 }}%
                  } @else {
                    {{ value }}
                  }
                </p>
              }
            }
          }
        </div>
      </div>
    }
  }
}
