@if (resource(); as resource) {
  <div
    class="resource flex-row"
    [tp]="withTooltip() ? resourceTooltipTemplate : undefined"
  >
    <svg-icon
      class="resource-icon"
      [src]="resource.iconPath"
      [style.color]="'var(' + resource.iconColor + ')'"
    ></svg-icon>
    <p class="resource-value">{{ value().toString() }}</p>
  </div>

  <ng-template #resourceTooltipTemplate let-hide>
    <div>
      <h2 class="tooltip-header f-big">{{ resource.name }}</h2>
      <p class="tooltip-description f-normal">{{ resource.description }}</p>
    </div>
  </ng-template>
}
